/*
----------team-potential-section--------
*/

.team-potential-section h1 {
    margin-top: 1rem;
}

.team-potential-section a {
    margin-top: 2rem;
}


/*
----------products-section--------
*/

.slider .product-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slider .arrow-slider {
    top: 50%;
    left: -45px;
    color: #7451eb;
    z-index: 1;
    position: absolute;
    transform: translateY(-100%);
    background: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05), 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 1.125rem;
}

.slider .arrow-slider:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.slider .arrow-slider svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: var(--app-color-primary);
}

.slider .arrow-slider.prevArrow {
    transform: translateY(-100%) rotate(180deg);
}

.slider .arrow-slider.nextArrow {
    left: unset;
    right: -45px;
}

.products-section h2 {
    margin-bottom: 2rem;
}

.products-section .slider {
    margin: 3.5rem auto 0 auto;
    padding: 0 2px;
}

.products-section .slider {
    width: 100%;
}

.products-section .product-card.dark-cyan-light-card .body ul li svg {
    stroke: rgb(0, 131, 143);
}

.products-section .product-card.purple-light-card .body ul li svg {
    stroke: rgb(81, 45, 168);
}

.products-section .product-card.dark-cyan-card .body ul li svg {
    stroke: rgb(0, 77, 64);
}

.products-section .product-card.blue-card .body ul li svg {
    stroke: rgb(48, 79, 254);
}

.products-section .product-card.purple-card .body ul li svg {
    stroke: rgb(20, 0, 120);
}

.products-section .product-card.dark-cyan-light-card .icon-container {
    border-bottom-color: rgb(0, 131, 143);
}

.products-section .product-card.purple-light-card .icon-container {
    border-bottom-color: rgb(81, 45, 168);
}

.products-section .product-card.dark-cyan-card .icon-container {
    border-bottom-color: rgb(0, 77, 64);
}

.products-section .product-card.blue-card .icon-container {
    border-bottom-color: rgb(48, 79, 254);
}

.products-section .product-card.purple-card .icon-container {
    border-bottom-color: rgb(20, 0, 120);
}

.products-section .product-card.dark-cyan-light-card .title-container {
    color: rgb(0, 131, 143);
}

.products-section .product-card.purple-light-card .title-container {
    color: rgb(81, 45, 168);
}

.products-section .product-card.dark-cyan-card .title-container {
    color: rgb(0, 77, 64);
}

.products-section .product-card.blue-card .title-container {
    color: rgb(48, 79, 254);
}

.products-section .product-card.purple-card .title-container {
    color: rgb(20, 0, 120);
}

@media (min-width: 375px) {
    .products-section .slider .product-card-container {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 768px) {
    .products-section .slider .product-card-container {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 992px) {
    .products-section .slider {
        /* width: 992px; */
        width: 790px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*
----------offers-business-section--------
*/

.offers-business-section h2 {
    margin-bottom: 3.5rem;
}

.offers-business-section {
    overflow: hidden;
}

.background-container {
    position: absolute;
    top: 0;
    width: 115%;
    z-index: -1;
    height: 100%;
    bottom: auto;
}

.background-container svg {
    width: 100%;
    height: 100%;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.background-container svg {
    fill: var(--app-color-background-gray-ligth);
    opacity: 1;
}


/*
----------values-section--------
*/

.values-section h2 {
    margin-bottom: 3.5rem;
}


/*
----------engagement-section--------
*/

.engagement-section {
    overflow: hidden;
}

.engagement-section h2 {
    width: 75%;
    margin-bottom: 1.5rem;
}

@media (max-width:991.95px) {
    .engagement-section .engagement-bloc .bloc-type-twins-first {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 56.25%;
    }
    .engagement-section .engagement-bloc .bloc-type-twins-first iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media(min-width: 768px) {
    .engagement-section h2 {
        margin-bottom: 3.5rem;
    }
    .engagement-section .engagement-bloc .bloc-type-twins-second {
        max-width: unset;
    }
}

.council-card-container,
.engagement-section-sub-container {
    padding: 4.5rem 0rem;
}