/*** 
    Author: EBOBISSE EPOUNE Parfait
    Date: 04/04/2023
***/


/** Variables **/

:root {
    /* app-fonts */
    --app-font-family: "Inter", "Inter-Regular";
    --app-font-size: 16px;
    --app-font-weight: 300;
    /* app-color */
    --app-color-primary: #7451eb;
    --app-color-primary-opacited: rgba(116, 81, 235, 0.08);
    --app-color-primary-opacited-ligth: rgba(116, 81, 235, 0.12);
    --app-color-accent: "";
    --app-color-gray: "";
    --app-color-text-primary: #271a38;
    --app-color-text-accent: #7451eb;
    --app-color-text-white: "";
    --app-color-text-gray: rgb(97, 97, 97);
    --app-color-border-gray-ligth: #dad9dc;
    --app-color-border-gray-high-ligth: rgba(0, 0, 0, 0.04);
    --app-color-border-gray-high-ligth-2: rgba(0, 0, 0, 0.42);
    --app-color-background-gray-high-ligth: rgba(0, 0, 0, 0.04);
    --app-color-ligth: #FFF;
    --app-color-purple-dark: rgb(39, 26, 56);
    --app-color-icon-dark: rgba(0, 0, 0, 0.54);
    /* app-background */
    --app-background-default: #FFF;
    --app-color-background-gray-ligth: rgb(245, 245, 245);
    /* app-border-raduis */
    --app-border-button-raduis-default: 4px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    opacity: 1;
}

body,
html {
    font-family: var(--app-font-family);
    font-weight: var(--app-font-weight);
    font-size: var(--app-font-size);
    color: var(--app-color-text-primary);
}

body.loading {
    overflow: hidden;
}

body> :not(#spinner).loading {
    display: none;
}


/** titles **/

h1,
h2,
.strong-paragraph {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.constraint-box {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: var(--app-font-weight);
    color: var(--app-color-text-primary);
    padding: 0.75rem;
}

.nav-link:is(:not(.outline-link)):hover {
    color: var(--app-color-text-accent);
}

.nav-link.outline-link {
    padding: calc(0.5rem + 1px) 1rem;
}

.outline-link:hover {
    background-color: rgba(116, 81, 235, 0.24);
    border-radius: var(--app-border-button-raduis-default);
}

.outline-link svg {
    margin: 0rem 0rem 0rem 0.25rem !important;
    position: relative;
    pointer-events: none;
    vertical-align: middle;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}


/** paragraph **/

p {
    margin-top: 1rem;
    font-size: 1rem;
}


/** links **/

.flat-link {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--app-color-primary);
}


/** bold & strong **/

b {
    font-weight: 700;
}


/** buttons **/

.reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    appearance: none;
    -webkit-appearance: none;
}

.event-none {
    pointer-events: none;
}

.card-shadow {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 26, 56);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 12px 0px;
    border: none;
}

.section-default {
    margin-top: 0.5rem;
    background: transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}


/** Spinner **/

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: var(--app-background-default);
    display: flex;
    align-items: center;
    justify-content: center;
}

#spinner .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#spinner .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 4px solid var(--app-color-primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--app-color-primary) transparent transparent transparent;
}

#spinner .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

#spinner .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

#spinner .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .constraint-box {
        max-width: 704px;
        padding-left: 0;
        padding-right: 0;
    }
    h1,
    h2,
    .strong-paragraph {
        font-size: 2rem;
        letter-spacing: 0px;
        line-height: 48px;
    }
    h3 {
        line-height: 36px;
    }
    .title-type-1 {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0px;
    }
}

@media (min-width: 992px) {
    .constraint-box {
        max-width: 936px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1280px) {
    .constraint-box {
        max-width: 1168px;
        padding-left: 0;
        padding-right: 0;
    }
}